.home{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: none;
    font-family: Barlow Condensed !important;
    align-items: center;
    height: 100vh;
    background: url('../../../public/assets/home/background-home-desktop.jpg');
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.home-container{
    width: 100vw !important;
    height: 100vh !important;
    display: flex;
    flex-direction: row !important;
    justify-content: space-around;
    align-items: center !important;
    margin: 0 !important;
    padding: 0 !important;
}
.home-container div{
    width: 40%;
    color: #ffffff;
    padding: 1rem;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    
}
.line1{
    color: #D0D6F9;
    word-spacing: 13px;
}
.home-container h1{
    font-size: 7rem;
    font-weight: 200;
    letter-spacing: 9px;
    margin: 0;
    padding: 0;
    line-height: 1rem;
    font-family: 'Bellefair', serif;
}
.line3{
    width: 23rem;
    text-align: left;
    color: #D0D6F9;
    font-size: 14px;
}
.home-container div:nth-child(1){
    text-align: left;
    margin-left: 3rem;
}

.explore{
    
    align-items: flex-start !important;
    height: 25rem !important;
}
.cirlce{
    width: 10rem;
    padding: 2rem;
    text-align: center;
    height: 8rem;
    border-radius: 52%;
    background-color: #ffffff;
    color: #0B0D17;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6rem !important;
    
}
.cirlce h4{
    font-size: 1.3rem;
    letter-spacing: 2px;
    font-weight: 400;
}


@media screen and (max-width: 850px) {
    .home{
        background: url('../../../public/assets/home/background-home-tablet.jpg');
    }
    .home-container{
        width: 100vw;
        flex-direction: column !important;
        justify-content: center;
        height: 100vh;
        
       
    }
    .home-container div{
        height: auto !important;
        width: 100% !important;
        align-items: center;
        text-align: center;

    }
    .line1{
        margin: 0 !important;
        word-spacing: 14px !important;
        font-size: 1.4rem;
    }
    .home-container h1{
        font-weight: bold !important;
    }
    .home-container div:nth-child(1){
      
        text-align: center !important;
        height: 350px !important;
    }
  
    .home-container h1{
        font-size: 8rem;
        letter-spacing: 1.3rem !important;
        line-height: 150px;
    }
    .line3{
        font-size: 20px;
        width: 24rem ;
        text-align: center;
        margin-left: 0.5rem;
        line-height: 2rem;
        
    }
    .cirlce{
        height: 10rem;
        margin: 1rem auto !important;
    }
}

@media screen and (max-width: 600px) {
   .home{
    background: url('../../../public/assets/home/background-home-mobile.jpg');
   }
   .text-container{
       margin-top: 4rem;
   }
   .home-container{
       height: 90% !important;
       margin-top: 5rem !important;
   }
    .home-container h1{
        font-size: 5rem;
        letter-spacing: 5px !important;
        text-align: center;
        margin-left: 0.1rem;
        align-self: center;
        line-height: 4.5rem;
        margin-bottom: 2rem;
      
    }
    .line1{
        word-spacing: 0 !important;
        font-size: 18px;
        margin-left: 2.7rem;
    }

   .text-container{
     margin: 2rem auto !important;
       padding: 0.3rem !important;
       height: 400px !important;
   }    
    .line3{
        width: 20rem;
        margin: 0;
        font-size: 1.1rem !important;
        line-height: 1.1rem !important;
    }
   .cirlce{
       width: 100px !important;
       height: 90px !important;
   }
}